.otpravka{
    background-color: #fff;
    width:30px;
    transition: 0.3s;
}

.otpravka:active{
    background-color: #292929;
    transform: scale(0.9);
    border-radius: 50px;
}

.dialogs{
    display: grid;
    grid-template-columns: 20% 80%;
}

.user{
    text-align: center;
}