.profile{
    grid-area: "p";
  }

  input{
    border: none;
    outline:none;
    border-radius: 10px;
    padding: 10px;
    background-color: #292929;
    margin-right: 10px;
  }

  button{
    border: none;
    outline:none;
    border-radius: 10px;
    padding: 10px;
    background-color: #292929;
    color:grey;
  }

  

  .post img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
  }

  .post h3{
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }

  .post-data{
    position: relative;
  }

  .post{
    margin: 20px 5px;
  }