.post img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
  }

  .post h3{
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }

  .post-data{
    position: relative;
    display: flex;
    align-items: center;
  }

  .post{
    margin: 20px 5px;
  }

  .post-data h2{
    margin-left: 10px;
  }

  .likes{
    background-color: rgb(255, 0, 0);
    width: 7%;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
    margin-top:7px;
  }